#Logs
logs
*.log

#Dependencies
node_modules/
elm-stuff/

# Yarn Integrity file
.yarn-integrity


#OS stuff
.DS_Store
.vscode
*.iml
/.idea

#Other stuff
documentation.json
/index.html
benchmark/gh-pages/*
!benchmark/gh-pages/404.html
!benchmark/gh-pages/index.html
!benchmark/gh-pages/script.js
!benchmark/gh-pages/.gitignore
